<style>
  .shop-links-group {
    margin: 0 0 var(--space-xxl) 0;
  }
  .shop-p-container {
    grid-column: 1 / span 5;
    display: flex;
    align-items: center;
  }
  .shop-p {
    font-size: var(--font-size-huge);
  }
  .shop-p a {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
    color: inherit;
  }
  .shop-sticker {
    grid-column: 6 / span 1;
    z-index: 500;
    width: 150%;
    margin-top: 300%;
  }
  .shop-sticker svg {
    margin-left: 30%;
  }
  .preview {
    margin: var(--space-xl) 0;
    grid-column: 7 / span 5;
    position: relative;
    overflow: hidden;
    aspect-ratio: 4 / 4;
  }

  .preview img {
    width: auto;
    object-fit: cover;
  }
  .preview .pv {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.35s ease;
  }
  .preview .img-1 {
    opacity: 1;
  }

  /* Hover routing: map the Nth link to the Nth image */
  .hover-swap:has(.shop-p a:nth-of-type(1):hover) .preview .pv {
    opacity: 0;
  }
  .hover-swap:has(.shop-p a:nth-of-type(1):hover) .preview .img-1 {
    opacity: 1;
  }
  .hover-swap:has(.shop-p a:nth-of-type(2):hover) .preview .pv {
    opacity: 0;
  }
  .hover-swap:has(.shop-p a:nth-of-type(2):hover) .preview .img-2 {
    opacity: 1;
  }
  .hover-swap:has(.shop-p a:nth-of-type(3):hover) .preview .pv {
    opacity: 0;
  }
  .hover-swap:has(.shop-p a:nth-of-type(3):hover) .preview .img-3 {
    opacity: 1;
  }
  .hover-swap:has(.shop-p a:nth-of-type(4):hover) .preview .pv {
    opacity: 0;
  }
  .hover-swap:has(.shop-p a:nth-of-type(4):hover) .preview .img-4 {
    opacity: 1;
  }

  /* Keyboard accessibility */
  .hover-swap:has(.shop-p a:nth-of-type(1):focus-visible) .preview .pv {
    opacity: 0;
  }
  .hover-swap:has(.shop-p a:nth-of-type(1):focus-visible) .preview .img-1 {
    opacity: 1;
  }
  .hover-swap:has(.shop-p a:nth-of-type(2):focus-visible) .preview .pv {
    opacity: 0;
  }
  .hover-swap:has(.shop-p a:nth-of-type(2):focus-visible) .preview .img-2 {
    opacity: 1;
  }
  .hover-swap:has(.shop-p a:nth-of-type(3):focus-visible) .preview .pv {
    opacity: 0;
  }
  .hover-swap:has(.shop-p a:nth-of-type(3):focus-visible) .preview .img-3 {
    opacity: 1;
  }
  .hover-swap:has(.shop-p a:nth-of-type(4):focus-visible) .preview .pv {
    opacity: 0;
  }
  .hover-swap:has(.shop-p a:nth-of-type(4):focus-visible) .preview .img-4 {
    opacity: 1;
  }

  @media (prefers-reduced-motion: reduce) {
    .preview .pv {
      transition: none;
    }
  }
</style>

<section class="shop-links-group container hover-swap">
  <div class="shop-p-container">
    <h1 class="shop-p">
      Shop
      <a href="{{ section.settings.link_1_url }}" class="shop-link">{{ section.settings['link-text'] }}</a>,
      <a href="{{ section.settings.link_2_url }}" class="shop-link">{{ section.settings['link-text-2'] }}</a>,
      <a href="{{ section.settings.link_3_url }}" class="shop-link">{{ section.settings['link-text-3'] }}</a>, or
      <a href="{{ section.settings.link_4_url }}" class="shop-link">{{ section.settings['link-text-4'] }}</a>.
    </h1>
  </div>

  <div class="shop-sticker">
    <svg width="100%" height="auto" viewBox="0 0 158 117" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M150.114 69.7633C146.096 95.1283 111.001 110.648 71.7258 104.428C32.4509 98.207 3.86901 72.6018 7.88644 47.2367C11.9039 21.8717 46.9993 6.35195 86.2742 12.5725C125.549 18.793 154.131 44.3982 150.114 69.7633Z" fill="white"/>
      <path d="M74.1277 104.277C74.4011 104.315 74.592 104.567 74.5546 104.84C74.5171 105.114 74.2651 105.305 73.9915 105.268C73.212 105.161 72.4307 105.045 71.6477 104.921C70.8647 104.797 70.0859 104.666 69.3115 104.527C69.0397 104.478 68.8593 104.217 68.9082 103.946C68.9572 103.674 69.2166 103.493 69.4882 103.542C70.2558 103.68 71.0279 103.811 71.8041 103.934C72.5803 104.057 73.355 104.171 74.1277 104.277ZM60.3449 101.498C61.8415 101.9 63.3598 102.274 64.8977 102.617C65.1669 102.678 65.3368 102.945 65.2767 103.214C65.2165 103.484 64.9483 103.653 64.6788 103.593C63.1272 103.246 61.5955 102.869 60.0852 102.463C59.8186 102.392 59.6607 102.117 59.7323 101.851C59.804 101.584 60.0782 101.426 60.3449 101.498ZM83.4552 105.158C83.731 105.172 83.943 105.407 83.9288 105.683C83.9145 105.959 83.6796 106.171 83.4039 106.157C81.842 106.076 80.2687 105.961 78.6859 105.812C78.411 105.786 78.2083 105.541 78.2343 105.267C78.2604 104.992 78.5046 104.79 78.7793 104.816C80.3481 104.964 81.9075 105.078 83.4552 105.158ZM51.4158 98.6687C52.8668 99.2013 54.3443 99.7057 55.846 100.181C56.1092 100.265 56.2551 100.546 56.1717 100.809C56.0884 101.072 55.807 101.218 55.5437 101.135C54.0278 100.655 52.5366 100.145 51.0714 99.6068C50.8122 99.5117 50.6784 99.2247 50.7736 98.9654C50.8687 98.7062 51.1566 98.5735 51.4158 98.6687ZM92.8215 105.227C93.0975 105.216 93.3302 105.431 93.3406 105.707C93.351 105.983 93.1351 106.215 92.8591 106.225C91.2995 106.284 89.7236 106.309 88.1336 106.297C87.8574 106.294 87.6349 106.069 87.6369 105.793C87.639 105.517 87.8647 105.294 88.1408 105.296C89.7159 105.308 91.277 105.285 92.8215 105.227ZM42.7831 95.0293C44.1754 95.6975 45.6 96.339 47.0545 96.9516C47.309 97.0588 47.4287 97.3524 47.3215 97.6069C47.2142 97.8612 46.9207 97.9801 46.6664 97.873C45.197 97.2541 43.7577 96.606 42.3507 95.9308C42.1018 95.8112 41.9967 95.5127 42.1162 95.2638C42.2356 95.015 42.5343 94.9101 42.7831 95.0293ZM102.156 104.433C102.43 104.397 102.681 104.589 102.718 104.862C102.755 105.136 102.563 105.387 102.289 105.424C100.742 105.631 99.1731 105.803 97.5844 105.938C97.3094 105.961 97.067 105.757 97.0435 105.482C97.0202 105.207 97.2248 104.965 97.4999 104.941C99.0727 104.808 100.626 104.638 102.156 104.433ZM33.8772 90.7119C34.0222 90.4769 34.3305 90.4041 34.5655 90.549C35.8773 91.3586 37.2292 92.1421 38.6179 92.8984C38.8604 93.0304 38.9499 93.3342 38.818 93.5767C38.6859 93.8192 38.3822 93.9088 38.1397 93.7767C36.7353 93.012 35.3678 92.2185 34.0403 91.3992C33.8058 91.2541 33.7326 90.9466 33.8772 90.7119ZM111.356 102.711C111.625 102.646 111.894 102.811 111.96 103.079C112.025 103.347 111.861 103.617 111.593 103.682C110.077 104.051 108.532 104.383 106.96 104.677C106.688 104.727 106.427 104.548 106.376 104.277C106.326 104.005 106.505 103.744 106.776 103.694C108.331 103.403 109.858 103.076 111.356 102.711ZM26.2091 85.2586C26.3814 85.0429 26.696 85.0069 26.9118 85.1791C28.1132 86.1378 29.3635 87.0725 30.6604 87.9807C30.8865 88.1391 30.9408 88.4511 30.7824 88.6773C30.624 88.9032 30.3127 88.9586 30.0866 88.8004C28.7731 87.8806 27.5058 86.9333 26.2877 85.9612C26.0718 85.789 26.0369 85.4745 26.2091 85.2586ZM120.295 99.9695C120.553 99.8724 120.841 100.004 120.938 100.262C121.036 100.521 120.905 100.809 120.647 100.906C119.188 101.454 117.69 101.964 116.156 102.433C115.892 102.513 115.613 102.364 115.533 102.1C115.452 101.836 115.6 101.556 115.864 101.476C117.378 101.013 118.856 100.51 120.295 99.9695ZM19.3309 78.8449C19.5321 78.6562 19.8483 78.6659 20.0373 78.8668C21.0845 79.9819 22.1929 81.0758 23.3594 82.1446C23.5629 82.3312 23.5764 82.6469 23.39 82.8505C23.2035 83.054 22.8876 83.0684 22.684 82.882C21.4998 81.7971 20.3736 80.6861 19.3088 79.5523C19.1198 79.351 19.1296 79.0339 19.3309 78.8449ZM128.783 96.0905C129.025 95.9578 129.329 96.0463 129.462 96.288C129.595 96.5299 129.506 96.8345 129.264 96.9676C127.901 97.7168 126.487 98.4254 125.025 99.0913C124.774 99.2056 124.478 99.0944 124.364 98.8432C124.249 98.5919 124.36 98.2958 124.611 98.1813C126.051 97.5253 127.443 96.8274 128.783 96.0905ZM13.5687 71.4086C13.8002 71.2581 14.1099 71.3233 14.2605 71.5547C15.0921 72.8342 16.001 74.0962 16.9837 75.3359C17.155 75.5523 17.1185 75.8664 16.9022 76.0378C16.6858 76.2093 16.3718 76.1727 16.2003 75.9563C15.1989 74.6932 14.2711 73.4069 13.4216 72.1001C13.2712 71.8686 13.3372 71.5591 13.5687 71.4086ZM136.537 90.9214C136.752 90.7479 137.066 90.7816 137.24 90.9962C137.414 91.2109 137.381 91.5257 137.166 91.6994C135.955 92.6797 134.675 93.6163 133.332 94.5082C133.102 94.6609 132.792 94.5987 132.639 94.3688C132.487 94.1389 132.549 93.8289 132.779 93.676C134.096 92.8007 135.351 91.8813 136.537 90.9214ZM9.42961 62.9766C9.68891 62.8816 9.97668 63.0148 10.0716 63.2741C10.5963 64.7065 11.2173 66.1264 11.9308 67.5294C12.056 67.7755 11.9578 68.0765 11.7116 68.2016C11.4655 68.3266 11.1645 68.2285 11.0394 67.9825C10.3086 66.5455 9.67122 65.0891 9.13231 63.6177C9.03751 63.3586 9.17072 63.0718 9.42961 62.9766ZM143.08 84.3405C143.25 84.1232 143.565 84.0855 143.782 84.256C143.999 84.4265 144.037 84.7404 143.867 84.9575C142.9 86.1904 141.843 87.3785 140.704 88.5194C140.509 88.7147 140.193 88.7149 139.997 88.5201C139.802 88.325 139.801 88.0084 139.997 87.813C141.109 86.6991 142.138 85.5407 143.08 84.3405ZM7.55626 53.7793C7.83135 53.7596 8.07091 53.9666 8.09109 54.2417C8.20267 55.7757 8.42895 57.3052 8.7653 58.8245C8.8248 59.094 8.65455 59.3611 8.38511 59.4208C8.11557 59.4805 7.84859 59.3101 7.78881 59.0406C7.44234 57.4756 7.2089 55.8987 7.0937 54.3151C7.07367 54.0397 7.28085 53.7993 7.55626 53.7793ZM148.406 76.0877C148.662 76.1919 148.785 76.4845 148.68 76.7402C148.081 78.2107 147.372 79.6383 146.559 81.0197C146.419 81.2575 146.112 81.337 145.874 81.197C145.637 81.0569 145.557 80.7503 145.697 80.5124C146.486 79.1714 147.174 77.7867 147.754 76.3622C147.859 76.1068 148.15 75.984 148.406 76.0877ZM7.3927 47.1585C7.5181 46.3668 7.67312 45.5843 7.85734 44.8117C7.92138 44.5431 8.1912 44.3774 8.45979 44.4414C8.7284 44.5055 8.89412 44.7753 8.83007 45.0439C8.65181 45.7915 8.50176 46.5487 8.38039 47.315C8.25902 48.0813 8.16775 48.8477 8.10625 49.6139C8.08416 49.8891 7.84319 50.0945 7.56793 50.0724C7.29271 50.0503 7.0873 49.8093 7.10939 49.5341C7.17293 48.7424 7.26729 47.9503 7.3927 47.1585ZM149.62 69.6851C149.741 68.9188 149.832 68.1523 149.894 67.3862C149.916 67.1109 150.157 66.9056 150.432 66.9277C150.708 66.9498 150.913 67.1907 150.891 67.466C150.827 68.2577 150.733 69.0497 150.608 69.8415C150.482 70.6333 150.327 71.4157 150.143 72.1884C150.079 72.457 149.809 72.6227 149.54 72.5586C149.272 72.4946 149.106 72.2248 149.17 71.9562C149.348 71.2086 149.498 70.4514 149.62 69.6851ZM11.4412 35.9804C11.5813 35.7426 11.8879 35.6631 12.1258 35.8031C12.3636 35.9432 12.443 36.2498 12.3031 36.4877C11.5137 37.8287 10.8259 39.2134 10.2457 40.6378C10.1415 40.8932 9.84971 41.0161 9.59419 40.9124C9.33844 40.8082 9.21568 40.5156 9.31984 40.2598C9.91876 38.7893 10.6281 37.3617 11.4412 35.9804ZM149.615 57.5793C149.885 57.5196 150.152 57.69 150.211 57.9595C150.558 59.5244 150.791 61.1014 150.907 62.685C150.927 62.9604 150.719 63.2007 150.444 63.2208C150.169 63.2405 149.929 63.0334 149.909 62.7584C149.798 61.2243 149.571 59.6949 149.235 58.1756C149.175 57.9061 149.346 57.639 149.615 57.5793ZM17.2959 28.4807C17.4909 28.2854 17.8075 28.2851 18.0029 28.48C18.1983 28.6751 18.1988 28.9916 18.0036 29.187C16.8914 30.3009 15.8621 31.4594 14.9205 32.6596C14.7501 32.8768 14.4352 32.9145 14.218 32.7441C14.0012 32.5736 13.9631 32.2596 14.1333 32.0425C15.1005 30.8097 16.1568 29.6215 17.2959 28.4807ZM146.289 48.7984C146.535 48.6735 146.836 48.7716 146.961 49.0176C147.692 50.4546 148.329 51.911 148.868 53.3824C148.963 53.6415 148.829 53.9283 148.571 54.0235C148.311 54.1184 148.024 53.9853 147.929 53.726C147.404 52.2936 146.783 50.8737 146.069 49.4707C145.944 49.2245 146.042 48.9236 146.289 48.7984ZM24.6682 22.4919C24.8982 22.3391 25.2082 22.4014 25.361 22.6313C25.5137 22.8612 25.4513 23.1712 25.2216 23.3241C23.9039 24.1994 22.6495 25.1188 21.4632 26.0786C21.2485 26.2522 20.9338 26.2185 20.7601 26.0039C20.5865 25.7892 20.6193 25.4744 20.8339 25.3007C22.0456 24.3204 23.3256 23.3838 24.6682 22.4919ZM141.098 40.9622C141.314 40.7908 141.628 40.8274 141.8 41.0437C142.801 42.3069 143.729 43.5931 144.579 44.8999C144.729 45.1314 144.663 45.441 144.431 45.5915C144.2 45.7419 143.89 45.6767 143.74 45.4453C142.908 44.1659 141.999 42.9039 141.016 41.6642C140.845 41.4478 140.882 41.1337 141.098 40.9622ZM32.9747 17.9087C33.226 17.7944 33.522 17.9057 33.6364 18.1569C33.7509 18.4081 33.6404 18.7042 33.3892 18.8188C31.9495 19.4748 30.5573 20.1727 29.2169 20.9096C28.975 21.0423 28.6713 20.9538 28.5382 20.7121C28.4052 20.4701 28.4938 20.1655 28.7358 20.0325C30.0988 19.2833 31.5132 18.5747 32.9747 17.9087ZM134.61 34.1496C134.797 33.946 135.113 33.9317 135.316 34.118C136.5 35.203 137.627 36.314 138.691 37.4478C138.88 37.6491 138.871 37.9661 138.669 38.1552C138.468 38.3439 138.152 38.3342 137.963 38.1333C136.916 37.0182 135.807 35.9242 134.641 34.8554C134.437 34.6689 134.424 34.3531 134.61 34.1496ZM41.8439 14.5675C42.1078 14.487 42.3868 14.6358 42.4676 14.8997C42.5483 15.1637 42.4003 15.4437 42.1363 15.5245C40.6223 15.9874 39.1444 16.49 37.7055 17.0306C37.447 17.1277 37.1589 16.9962 37.0618 16.7378C36.9646 16.4793 37.0951 16.191 37.3536 16.0939C38.8125 15.5458 40.3104 15.0364 41.8439 14.5675ZM127.218 28.3228C127.376 28.0969 127.688 28.0415 127.914 28.1996C129.227 29.1194 130.494 30.0668 131.713 31.0388C131.928 31.2111 131.963 31.5256 131.791 31.7414C131.619 31.9572 131.304 31.9932 131.088 31.8209C129.887 30.8623 128.637 29.9275 127.34 29.0194C127.114 28.861 127.059 28.549 127.218 28.3228ZM51.0406 12.3233C51.3121 12.2727 51.5733 12.4517 51.6239 12.7232C51.6744 12.9946 51.4954 13.2559 51.2241 13.3065C49.6696 13.5966 48.1418 13.924 46.6439 14.2886C46.3757 14.3538 46.1059 14.1894 46.0406 13.9212C45.9755 13.6531 46.1392 13.3833 46.4071 13.3178C47.9229 12.9487 49.4687 12.6167 51.0406 12.3233ZM119.182 23.4234C119.314 23.1809 119.618 23.0913 119.861 23.2233C121.265 23.9881 122.632 24.7815 123.96 25.6009C124.194 25.746 124.268 26.0534 124.123 26.2882C123.978 26.5231 123.67 26.596 123.435 26.4511C122.123 25.6414 120.771 24.858 119.382 24.1017C119.14 23.9697 119.05 23.6659 119.182 23.4234ZM60.4158 11.0625C60.6908 11.0392 60.9332 11.243 60.9567 11.5179C60.98 11.7931 60.7754 12.0354 60.5003 12.0587C58.9276 12.1918 57.3744 12.3617 55.8439 12.567C55.5703 12.6035 55.3187 12.4114 55.282 12.1379C55.2453 11.8642 55.4376 11.6128 55.7111 11.576C57.258 11.3686 58.8271 11.197 60.4158 11.0625ZM111.334 19.1271C112.803 19.746 114.243 20.394 115.65 21.0693C115.898 21.1888 116.003 21.4874 115.884 21.7363C115.765 21.9851 115.466 22.09 115.217 21.9708C113.825 21.3026 112.4 20.6611 110.946 20.0484C110.691 19.9412 110.571 19.6476 110.679 19.3931C110.786 19.1389 111.079 19.02 111.334 19.1271ZM69.8666 10.7035C70.1428 10.7056 70.3653 10.9312 70.3633 11.2073C70.3612 11.4834 70.1355 11.7059 69.8595 11.7039C68.2843 11.6921 66.7232 11.7152 65.1787 11.7733C64.9027 11.7837 64.67 11.5686 64.6596 11.2927C64.6492 11.0167 64.8651 10.7851 65.1411 10.7747C66.7007 10.716 68.2766 10.6915 69.8666 10.7035ZM102.456 15.8652C103.972 16.3452 105.464 16.8554 106.929 17.3932C107.188 17.4884 107.322 17.7754 107.227 18.0346C107.131 18.2938 106.844 18.4265 106.584 18.3314C105.133 17.7987 103.656 17.2944 102.154 16.8189C101.891 16.7355 101.745 16.4541 101.828 16.1909C101.912 15.9277 102.193 15.7819 102.456 15.8652ZM79.3143 11.1884C79.5892 11.2144 79.7919 11.4586 79.7659 11.7335C79.7398 12.0082 79.4956 12.2099 79.2209 12.1841C77.6521 12.0357 76.0927 11.9216 74.545 11.8419C74.2692 11.8277 74.0572 11.5928 74.0714 11.3171C74.0857 11.0413 74.3206 10.8293 74.5963 10.8435C76.1582 10.924 77.7315 11.0387 79.3143 11.1884ZM93.3214 13.4069C94.873 13.7536 96.4047 14.1307 97.915 14.5369C98.1817 14.6086 98.3395 14.8828 98.2679 15.1494C98.1962 15.4161 97.922 15.574 97.6553 15.5023C96.1588 15.0998 94.6404 14.7264 93.1025 14.3827C92.8333 14.3224 92.6634 14.0551 92.7235 13.7858C92.7837 13.5163 93.0519 13.3467 93.3214 13.4069ZM86.3525 12.0787C87.1355 12.2027 87.9143 12.3342 88.6887 12.4734C88.9605 12.5223 89.1409 12.7826 89.092 13.0544C89.043 13.326 88.7836 13.5067 88.512 13.4579C87.7444 13.3199 86.9723 13.1893 86.1961 13.0664C85.4199 12.9434 84.6452 12.829 83.8726 12.7231C83.5991 12.6855 83.4083 12.4335 83.4456 12.1601C83.4831 11.8865 83.7352 11.6947 84.0087 11.7322C84.7882 11.8391 85.5695 11.9547 86.3525 12.0787Z" fill="#434F1A"/>
      <path d="M68.1294 58.297C69.6857 58.5437 70.7816 59.5566 71.2754 61.1821L71.276 61.1841C71.5661 62.1657 71.6289 63.3388 71.4479 64.4811C71.1949 66.0785 70.5053 67.4817 69.5037 68.404L69.5027 68.4038C68.6543 69.1801 67.5273 69.4888 66.3304 69.2994C65.1332 69.1098 64.1563 68.4678 63.5891 67.4672L63.5882 67.467C62.9204 66.2804 62.6983 64.7329 62.9513 63.1354C63.2082 61.5131 63.9015 60.0793 64.9033 59.1821L65.0701 59.0404C65.9188 58.3621 66.9561 58.1111 68.1294 58.297ZM101.145 63.5261C102.371 63.7205 103.295 64.3481 103.724 65.3159L103.804 65.5144L103.806 65.5216C103.995 66.0962 104.023 66.5694 103.951 67.4816C103.945 67.561 103.905 67.6345 103.843 67.6839C103.78 67.7331 103.7 67.7541 103.621 67.7417L102.585 67.5777C102.437 67.5542 102.332 67.4208 102.344 67.2715C102.387 66.7478 102.352 66.4904 102.235 66.1855L102.144 66.0088C101.902 65.6133 101.47 65.3337 100.873 65.2391C100.343 65.1551 99.937 65.2391 99.6524 65.4313C99.3709 65.6217 99.1676 65.9453 99.0919 66.4232C99.042 66.7385 99.0736 66.9588 99.1582 67.1219C99.2419 67.2831 99.3983 67.4283 99.6763 67.553L99.6782 67.5533L99.678 67.5542L101.894 68.5697C102.528 68.8556 102.997 69.2884 103.269 69.8553C103.541 70.419 103.608 71.09 103.49 71.8361C103.332 72.8313 102.878 73.6073 102.167 74.0856C101.46 74.5617 100.536 74.717 99.4835 74.5504C98.8345 74.4476 98.2944 74.2628 97.8484 73.9622C97.3998 73.6597 97.0622 73.2509 96.8018 72.7295L96.8019 72.7286C96.4296 72.0085 96.3745 71.3366 96.5333 70.2419C96.5444 70.1664 96.585 70.0985 96.6463 70.0531C96.7079 70.0079 96.7858 69.9883 96.8613 70.0002L97.8982 70.1644L97.9532 70.179C98.0759 70.225 98.1552 70.3512 98.137 70.486C98.0626 71.0303 98.0785 71.3214 98.1761 71.6184L98.2221 71.7463L98.2229 71.7474C98.4487 72.323 98.9696 72.7139 99.8097 72.847C100.433 72.9456 100.906 72.8704 101.231 72.6797C101.548 72.4941 101.765 72.177 101.84 71.7023C101.909 71.2656 101.86 71.0072 101.701 70.7904C101.524 70.551 101.183 70.3172 100.547 70.0194L98.9499 69.2859L98.9501 69.2849C98.3561 69.0141 97.9138 68.626 97.6533 68.1145C97.3937 67.6045 97.3292 67.0025 97.4355 66.331C97.5714 65.4731 97.9661 64.7067 98.5325 64.1743L98.536 64.1709L98.6653 64.0598C99.3243 63.5316 100.168 63.3713 101.145 63.5261ZM57.963 56.9557C58.119 56.9807 58.2264 57.1281 58.2017 57.2842L58.0114 58.486C57.9866 58.642 57.839 58.7482 57.683 58.7237L53.4477 58.0529L53.0571 60.5133L56.7551 61.099C56.9109 61.1241 57.0176 61.2704 56.9929 61.4264L56.8026 62.6282C56.7779 62.7842 56.631 62.8913 56.4751 62.867L52.777 62.2813L52.1107 66.4886C52.0859 66.6449 51.9395 66.7512 51.7833 66.7265L50.6779 66.5514C50.522 66.5264 50.4154 66.3801 50.4401 66.224L52.0113 56.3037C52.036 56.1475 52.1836 56.0404 52.3398 56.0651L57.963 56.9557ZM59.9664 57.273C60.1224 57.298 60.2288 57.4453 60.2041 57.6014L58.8681 66.0363L62.7031 66.6437C62.8591 66.6686 62.9656 66.8159 62.9408 66.972L62.7505 68.1738C62.7258 68.3299 62.5792 68.4361 62.4231 68.4117L57.1992 67.5843C57.0433 67.5592 56.9366 67.4129 56.9613 67.2569L58.5335 57.3368C58.5582 57.1806 58.7048 57.0733 58.861 57.0979L59.9664 57.273ZM73.4277 59.41C73.5383 59.4484 73.6169 59.5515 73.6206 59.6719L73.8259 66.6592L76.4395 60.1085L76.4613 60.0645C76.521 59.9674 76.6346 59.913 76.7503 59.9313L77.9522 60.1217C78.0842 60.1427 78.1843 60.2528 78.193 60.3863L78.6536 67.4169L80.9953 60.841L81.0164 60.7949C81.0745 60.693 81.1905 60.6347 81.3097 60.6535L82.526 60.8461C82.6112 60.8598 82.6862 60.9113 82.7293 60.9861C82.7723 61.0611 82.7787 61.1525 82.7475 61.2332L79.035 70.8143C78.9862 70.9399 78.856 71.0142 78.7229 70.9933L77.5625 70.8095C77.4303 70.7885 77.3303 70.6785 77.3217 70.5449L76.8484 63.2324L74.1154 70.0381C74.0657 70.1619 73.9364 70.2349 73.8047 70.2143L72.6434 70.0304C72.5101 70.0091 72.4101 69.8978 72.403 69.7629L71.8599 59.5078C71.8553 59.4214 71.8902 59.3374 71.9544 59.2795C72.0186 59.2219 72.1057 59.1957 72.191 59.2092L73.3793 59.3974L73.4277 59.41ZM89.1948 61.9023C89.3507 61.9274 89.4572 62.0747 89.4325 62.2307L89.2422 63.4325C89.2174 63.5884 89.0707 63.6947 88.9148 63.6703L84.3892 62.9536L83.9995 65.4141L88.1518 66.0718C88.3078 66.0967 88.4143 66.2431 88.3897 66.3991L88.1993 67.601C88.1746 67.757 88.0278 67.8642 87.8718 67.8398L83.7195 67.1821L83.2883 69.904L87.8969 70.634C88.0527 70.6591 88.1593 70.8063 88.1346 70.9623L87.9443 72.1641C87.9196 72.3201 87.7728 72.4262 87.6169 72.402L81.6203 71.4522C81.4641 71.4275 81.3568 71.2809 81.3815 71.1247L82.9528 61.2044C82.9775 61.0481 83.125 60.941 83.2812 60.9657L89.1948 61.9023ZM94.3464 62.7183C95.2647 62.8638 95.9756 63.2278 96.4118 63.8305C96.8477 64.433 96.973 65.2247 96.8265 66.1495C96.7333 66.7382 96.5828 67.2055 96.3127 67.5957C96.1131 67.8839 95.8563 68.1154 95.538 68.3233C95.7179 68.4974 95.8532 68.6949 95.9372 68.9432C96.0615 69.3112 96.063 69.7582 96.0073 70.3356L96.0069 70.3444L95.778 72.1452L95.7575 72.3496C95.7434 72.5264 95.7471 72.6266 95.7644 72.6997C95.7821 72.7748 95.8191 72.8404 95.9502 72.9684C96.0165 73.0333 96.0477 73.1272 96.0331 73.2188L95.9982 73.4397C95.9734 73.5958 95.8259 73.7019 95.6698 73.6774L94.3166 73.4631C94.186 73.4424 94.0855 73.3351 94.0749 73.2033C94.0388 72.751 94.1256 71.6722 94.2924 70.6196C94.3861 70.0272 94.3372 69.653 94.1983 69.4153C94.0677 69.1919 93.8201 69.0287 93.3557 68.9486L90.9762 68.5717L90.3469 72.5447C90.3222 72.7008 90.1747 72.8069 90.0186 72.7824L88.9132 72.6073C88.7572 72.5823 88.6507 72.436 88.6754 72.2799L90.2466 62.3596C90.2713 62.2035 90.4181 62.0963 90.5741 62.1208L94.3464 62.7183ZM67.7529 60.0497C67.0286 59.935 66.3566 60.1894 65.8103 60.7594C65.2587 61.3352 64.835 62.236 64.6521 63.3899C64.4671 64.5585 64.5919 65.5457 64.9431 66.2598C65.2903 66.9656 65.8612 67.4138 66.6103 67.5324C67.3591 67.6507 68.04 67.4009 68.5881 66.8372C69.1427 66.2665 69.5666 65.3661 69.7517 64.1976C69.9389 63.0149 69.8136 62.0294 69.4581 61.3194C69.1071 60.6187 68.5265 60.1725 67.7529 60.0497ZM91.2473 66.8597L93.5063 67.2174C94.0326 67.3007 94.3782 67.2266 94.6092 67.052C94.8428 66.8755 95.022 66.5493 95.1106 65.9904C95.1925 65.4729 95.1311 65.1239 94.9844 64.8957C94.8423 64.6747 94.5838 64.512 94.1446 64.4423L91.6917 64.0538L91.2473 66.8597ZM87.115 47.1295C88.3415 47.3239 89.2658 47.9516 89.6949 48.9194L89.7742 49.1178L89.777 49.1252L89.776 49.125C89.9651 49.6996 89.9947 50.1729 89.9223 51.0851C89.916 51.1645 89.8766 51.2381 89.8142 51.2875C89.7516 51.3368 89.6702 51.3575 89.5915 51.3452L88.5555 51.1811C88.4076 51.1576 88.3031 51.0244 88.3153 50.8751C88.3588 50.3475 88.3217 50.0904 88.2026 49.7825C87.9875 49.2977 87.5225 48.9501 86.8437 48.8425C86.3137 48.7586 85.9083 48.8428 85.6237 49.0349C85.3421 49.2252 85.138 49.5485 85.0623 50.0267C85.0124 50.3418 85.044 50.5623 85.1286 50.7253C85.2123 50.8865 85.3687 51.0317 85.6466 51.1564L85.6486 51.1567L85.6484 51.1577L87.8645 52.1731L87.8655 52.1732C88.4998 52.4591 88.9681 52.892 89.2409 53.4589C89.5118 54.0225 89.5782 54.6936 89.4601 55.4395C89.3025 56.4346 88.8488 57.2108 88.1388 57.6892C87.4315 58.1654 86.5067 58.3205 85.4539 58.1538C84.8049 58.051 84.2648 57.8662 83.8188 57.5656C83.3711 57.2637 83.0348 56.8562 82.7746 56.3363L82.7744 56.3373C82.3998 55.6154 82.3445 54.9424 82.5037 53.8453C82.5148 53.7697 82.5561 53.702 82.6176 53.6567C82.6791 53.6115 82.7563 53.5918 82.8317 53.6036L83.8686 53.7678L83.9236 53.7825C84.0465 53.8283 84.1256 53.9546 84.1073 54.0894C84.033 54.6336 84.0489 54.9248 84.1465 55.2218L84.1935 55.3498L84.1933 55.3508C84.4191 55.9264 84.9402 56.3173 85.7801 56.4505C86.4033 56.5491 86.8768 56.4741 87.2026 56.2832C87.5191 56.0977 87.7351 55.7804 87.8103 55.3057C87.8795 54.869 87.8306 54.6106 87.671 54.3938C87.4946 54.1546 87.1535 53.9206 86.5186 53.623L86.5184 53.6239L84.9203 52.8893L84.9205 52.8883C84.3266 52.6175 83.8842 52.2293 83.6237 51.7179C83.3641 51.208 83.3006 50.606 83.4069 49.9345C83.5427 49.0767 83.9365 48.3101 84.5029 47.7777L84.5064 47.7743L84.6357 47.6633C85.2947 47.135 86.1381 46.9748 87.115 47.1295ZM68.4723 44.4457C68.6283 44.4707 68.7347 44.618 68.71 44.774L68.5196 45.9759C68.4949 46.1319 68.3483 46.2382 68.1923 46.2137L63.957 45.5429L63.5673 48.0034L67.2634 48.5888C67.4193 48.6138 67.5269 48.7603 67.5022 48.9164L67.3118 50.1182C67.2871 50.2743 67.1394 50.3813 66.9833 50.3569L63.2872 49.7714L62.6209 53.9788C62.5961 54.1348 62.4495 54.2409 62.2935 54.2166L61.1881 54.0415C61.0319 54.0168 60.9246 53.8703 60.9493 53.714L62.5205 43.7937C62.5453 43.6375 62.6928 43.5303 62.849 43.5551L68.4723 44.4457ZM73.2805 45.2073C74.1987 45.3528 74.9097 45.7168 75.3458 46.3194C75.7816 46.922 75.9071 47.7138 75.7606 48.6384C75.6673 49.2273 75.516 49.6943 75.2458 50.0845C75.0463 50.3726 74.7902 50.6044 74.4721 50.8123C74.6518 50.9862 74.7864 51.1839 74.8703 51.432C74.9635 51.708 74.9878 52.0286 74.9707 52.4149L74.9414 52.8245L74.94 52.8332L74.7111 54.634C74.6762 54.9454 74.6745 55.0911 74.6975 55.1885C74.7153 55.2637 74.753 55.3292 74.8843 55.4574C74.9505 55.5223 74.9808 55.6161 74.9663 55.7077L74.9313 55.9285C74.9066 56.0846 74.76 56.1908 74.6039 56.1664L73.2497 55.9519C73.1192 55.9312 73.0197 55.824 73.009 55.6923C72.9729 55.24 73.0597 54.1612 73.2264 53.1086C73.3202 52.5164 73.2712 52.142 73.1324 51.9042C73.0181 51.7088 72.8138 51.5593 72.4535 51.4714L72.2898 51.4376L69.9093 51.0605L69.28 55.0335C69.2553 55.1896 69.1087 55.2958 68.9527 55.2713L67.8473 55.0963C67.6911 55.0715 67.5847 54.9251 67.6095 54.7689L69.1807 44.8486C69.2054 44.6924 69.352 44.5851 69.5082 44.6098L73.2805 45.2073ZM83.2683 46.7892C83.4242 46.8142 83.5307 46.9615 83.506 47.1175L83.3157 48.3193C83.2909 48.4753 83.1443 48.5816 82.9883 48.5572L78.4627 47.8404L78.073 50.3009L82.2253 50.9586C82.3813 50.9836 82.4878 51.1299 82.4632 51.286L82.2728 52.4878C82.2481 52.6439 82.1013 52.751 81.9453 52.7266L77.7929 52.0689L77.3618 54.7909L81.9704 55.5208C82.1263 55.5458 82.2328 55.6931 82.2081 55.8491L82.0177 57.0509C81.993 57.207 81.8464 57.3132 81.6904 57.2888L75.6938 56.339C75.5376 56.3143 75.4312 56.1679 75.456 56.0116L77.0272 46.0914C77.0519 45.9351 77.1985 45.8278 77.3547 45.8525L83.2683 46.7892ZM92.5983 48.2669C92.7543 48.2918 92.8617 48.4393 92.837 48.5954L92.2319 52.4159L95.9077 52.9981L96.5128 49.1776C96.5376 49.0214 96.6842 48.9142 96.8403 48.9388L97.9457 49.1138C98.1018 49.1388 98.2091 49.2862 98.1844 49.4423L96.6132 59.3626C96.5884 59.5187 96.4409 59.6248 96.2848 59.6003L95.1795 59.4252C95.0233 59.4004 94.9169 59.254 94.9416 59.0979L95.6277 54.7661L91.9518 54.1839L91.2657 58.5157C91.241 58.6718 91.0935 58.7779 90.9374 58.7534L89.832 58.5783C89.6761 58.5533 89.5695 58.407 89.5942 58.2509L91.1654 48.3306C91.1901 48.1745 91.3369 48.0673 91.4929 48.0918L92.5983 48.2669ZM70.1805 49.3485L72.4404 49.7064C72.9666 49.7897 73.3123 49.7155 73.5433 49.541C73.7767 49.3644 73.9562 49.0381 74.0446 48.4794C74.1266 47.9619 74.0642 47.6127 73.9175 47.3845C73.7753 47.1637 73.5167 47.0007 73.0777 46.9311L70.6249 46.5426L70.1805 49.3485Z" fill="#434F1A"/>
    </svg>
  </div>

  <div class="preview">
    <img
      src="{{ section.settings.link_1_image | img_url: '800x' }}"
      alt="{{ section.settings['link-text'] | escape }}"
      class="pv img-1"
    >
    <img
      src="{{ section.settings.link_2_image | img_url: '800x' }}"
      alt="{{ section.settings['link-text-2'] | escape }}"
      class="pv img-2"
    >
    <img
      src="{{ section.settings.link_3_image | img_url: '800x' }}"
      alt="{{ section.settings['link-text-3'] | escape }}"
      class="pv img-3"
    >
    <img
      src="{{ section.settings.link_4_image | img_url: '800x' }}"
      alt="{{ section.settings['link-text-4'] | escape }}"
      class="pv img-4"
    >
  </div>
</section>

{% schema %}
{
  "name": "Shop Links",
  "settings": [
    { "type": "header", "content": "Link 1" },
    {
      "type": "text",
      "id": "link-text",
      "label": "Link Text",
      "default": "custom bouquets"
    },
    {
      "type": "url",
      "id": "link_1_url",
      "label": "url"
    },
    {
      "type": "image_picker",
      "id": "link_1_image",
      "label": "image"
    },
    {
      "type": "header",
      "content": "Link 2"
    },
    {
      "type": "text",
      "id": "link-text-2",
      "label": "Link Text",
      "default": "dried bouquets"
    },
    {
      "type": "url",
      "id": "link_2_url",
      "label": "url"
    },
    {
      "type": "image_picker",
      "id": "link_2_image",
      "label": "image"
    },

    { "type": "header", "content": "Link 3" },
    {
      "type": "text",
      "id": "link-text-3",
      "label": "Link Text",
      "default": "custom dried wreaths"
    },
    {
      "type": "url",
      "id": "link_3_url",
      "label": "url"
    },
    {
      "type": "image_picker",
      "id": "link_3_image",
      "label": "image"
    },
    { "type": "header", "content": "Link 4" },
    {
      "type": "text",
      "id": "link-text-4",
      "label": "Link Text",
      "default": "book a service"
    },
    {
      "type": "url",
      "id": "link_4_url",
      "label": "url"
    },
    {
      "type": "image_picker",
      "id": "link_4_image",
      "label": "image"
    }
  ]
}
{% endschema %}
