<style>
.service {
    border-bottom: 1px dashed var(--color-contrast);
    padding-bottom: var(--space-md);
}
.service:last-child {
    border-bottom: none;
}
</style>

<div class="services">
    <div class="service">
        <h2>{{ section.settings.service1_title }}</h2>
        <p>{{ section.settings.service1_description | newline_to_br }}</p>
    </div>
    <div class="service">
        <h2>{{ section.settings.service2_title }}</h2>
        <p>{{ section.settings.service2_description | newline_to_br }}</p>
    </div>
    <div class="service">
        <h2>{{ section.settings.service3_title }}</h2>
        <p>{{ section.settings.service3_description | newline_to_br }}</p>
    </div>
</div>

{% schema %}
{
    "name": "Services",
    "settings": [
        {
            "type": "header",
            "content": "Service"
        },
        {
            "type": "text",
            "id": "service1_title",
            "label": "Service Title",
            "default": "Weddings"
        },
        {
            "type": "textarea",
            "id": "service1_description",
            "label": "Service Description",
            "default": "We love love! If you have a dream for your day, we want to help you reach it. We offer a variety of floral packages to suit your needs and your budget, and would love to help make your wedding as dreamy as you deserve."
        },
        {
            "type": "header",
            "content": "Service"
        },
        {
            "type": "text",
            "id": "service2_title",
            "label": "Service Title",
            "default": "Gatherings"
        },
        {
            "type": "textarea",
            "id": "service2_description",
            "label": "Service Description",
            "default": "We don’t just provide flowers and tablescapes for weddings - we love any excuse to make your space gorgeous! We offer floral design for any private event, dinner, or other gathering."
        },
        {
            "type": "header",
            "content": "Service"
        },
        {
            "type": "text",
            "id": "service3_title",
            "label": "Service Title",
            "default": "Workshops"
        },
        {
            "type": "textarea",
            "id": "service3_description",
            "label": "Service Description",
            "default": "Our current workshop offerings include fresh or dried bouquet making, dried wreath making, garland making, and flower crown making. Check out our Events page for currently scheduled workshops or let us know if you’d like to host a custom workshop!"
        }
    ]
}
{% endschema %}

